#wrap{max-width:1140px;margin:auto;}
#footer{margin-top:30px;padding:20px 20px 40px 20px;color:#ffffff;background-color:#81bcd5;}
*,*:after,*:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
[class*='col-']{float:left;padding-right:20px;}[class*='col-']:last-of-type{padding-right:0px;}
.grid{width:100%;max-width:1140px;min-width:755px;margin:0 auto;padding:20px 0 0px 20px;overflow:hidden;}.grid:after{content:"";display:table;clear:both;}
.grid>[class*='col-']:last-of-type{padding-right:20px;}
.push-right{float:right;}
.col-1-1{width:100%;}
.col-2-3,.col-8-12{width:66.66%;}
.col-1-2,.col-6-12{width:50%;}
.col-1-3,.col-4-12{width:33.33%;}
.col-1-4,.col-3-12{width:25%;}
.col-1-5{width:20%;}
.col-1-6,.col-2-12{width:16.667%;}
.col-1-7{width:14.28%;}
.col-1-8{width:12.5%;}
.col-1-9{width:11.1%;}
.col-1-10{width:10%;}
.col-1-11{width:9.09%;}
.col-1-12{width:8.33%;}
.col-11-12{width:91.66%;}
.col-10-12{width:83.333%;}
.col-9-12{width:75%;}
.col-5-12{width:41.66%;}
.col-7-12{width:58.33%;}
body{margin:0px;font-size:16px;}
a{color:#81bcd5;}a:hover{color:#72adc6;}
h1 a{text-decoration:none;}
h1 small{font-size:15px;margin-left:10px;}
blockquote{font-family:"Georgia",serif;font-size:18px;font-style:italic;}blockquote:before{content:'"';}
blockquote:after{content:'"';}
ul{margin:4px 0;}
pre{padding:10px 15px;border:1px solid #cfcfcf;background-color:#F5F5F5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
button{position:relative;margin:5px;padding:8px 12px;border-top:none;border-right:none;border-bottom:3px solid #639eb7;border-left:none;color:#ffffff;text-shadow:1px 1px #639eb7;background-color:#81bcd5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}button.alert{border-bottom:3px solid #ac3c2b;text-shadow:1px 1px #ac3c2b;background-color:#ca5a49;}button.alert:hover{background-color:#c0503f;}
button.disabled{top:3px;border-bottom:none;text-shadow:1px 1px #4f8aa3;background-color:#639eb7;cursor:default;}button.disabled:hover{background-color:#639eb7;}
button.disabled:active{top:3px;}
button:hover{background-color:#77b2cb;}
button:active{top:3px;margin-bottom:8px;border-bottom:none;}
button.round{-webkit-border-radius:24px;-moz-border-radius:24px;border-radius:24px;}
.navbar{margin:5px 0;height:43px;background-color:#81bcd5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}.navbar ul.nav{margin:0 0;padding:0px 10px;list-style:none;}.navbar ul.nav li{float:left;margin:0 0;display:inline;font-size:17px;color:#ffffff;background-color:#81bcd5;}.navbar ul.nav li a{display:block;padding:10px 10px;color:#ffffff;text-shadow:1px 1px #639eb7;text-decoration:none;}
.navbar ul.nav li.active{background-color:#77b2cb;}
.navbar ul.nav li:hover{background-color:#77b2cb;}
.navbar ul.nav li.divider{padding:10px 0;height:43px;border-left:1px solid #639eb7;border-right:1px solid #95d0e9;}
ul.breadcrumb{margin:5px 5px;padding:5px 10px;list-style:none;color:#ffffff;text-shadow:0 1px #81bcd5;box-shadow:inset 1px 1px 2px 2px #81bcd5;background:#9fdaf3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}ul.breadcrumb li{display:inline;}ul.breadcrumb li span{margin:0 4px;}
ul.breadcrumb a{color:#4f8aa3;text-shadow:0 1px #ffffff;text-decoration:none;}
ul.pagination{margin:5px 5px;padding:0 0;list-style:none;}ul.pagination li{position:relative;float:left;display:inline;padding:0 0;}ul.pagination li:first-child a{-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px;}
ul.pagination li:last-child a{-webkit-border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0;}
ul.pagination li:active{top:3px;}
ul.pagination li a{display:block;padding:5px 10px;color:#ffffff;text-decoration:none;text-shadow:1px 1px #639eb7;border-bottom:3px solid #639eb7;background:#8bc6df;}ul.pagination li a:hover{background:#77b2cb;}
ul.pagination li a:active{background:#8bc6df;border-bottom:none;box-shadow:inset 1px 1px 2px 1px #639eb7;}
.message{margin:10px 5px;padding:8px 10px;color:#81bcd5;border:2px solid #81bcd5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.alert-message{margin:10px 5px;padding:8px 10px;color:#ca5a49;border:2px solid #ca5a49;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.huge-message{margin:10px 5px;padding:2px 20px;color:#ffffff;text-shadow:1px 1px #639eb7;box-shadow:inset 2px 2px 5px 2px #6da8c1;background-color:#81bcd5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}.huge-message .title{margin:14px 0px;font-size:28px;}
@media (min-width:1200px){}@media (min-width:768px) and (max-width:979px){}@media (max-width:767px){.grid{width:100%;min-width:0;margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px;} [class*='col-']{width:auto;float:none;margin-left:0px;margin-right:0px;margin-top:10px;margin-bottom:10px;padding-left:20px;padding-right:20px;}}@media (max-width:480px){}
