button {
  position: relative;
  margin: @marginSmall;
  padding: @paddingMedium;
  color: @contrast;
  text-shadow: 1px 1px @general - 30;
  border-top: none;
  border-right: none;
  border-bottom: 3px solid @general - 30;
  border-left: none;
  .radius(@baseRadius);
  background-color: @general;
  &.alert {
    text-shadow: 1px 1px @alert - 30;
    border-bottom: 3px solid @alert - 30;
    background-color: @alert;
    &:hover {
      background-color: @alert - 10;
    }
  }
  &.disabled {
    top: 3px;
    text-shadow: 1px 1px @general - 50;
    border-bottom: none;
    background-color: @general - 30;
    cursor: default;
    &:hover {
      background-color: @general - 30;
    }
    &:active {
      top: 3px;
    }
  }
  &:hover {
    background-color: @general - 10;
  }
  &:active {
    top: 3px;
    margin-bottom: 8px;
    border-bottom: none;
  }
  &.round {
    .radius(@roundRadius);
  }
}