button {
  position: relative;
  margin: 5px;
  padding: 8px 12px;
  border-top: none;
  border-right: none;
  border-bottom: 3px solid @general - 30;
  border-left: none;
  color: @contrast;
  text-shadow: 1px 1px @general - 30;
  background-color: @general;
  .radius(4px);
  &.alert {
    border-bottom: 3px solid @alert - 30;
    text-shadow: 1px 1px @alert - 30;
    background-color: @alert;
    &:hover {
      background-color: @alert - 10;
    }
  }
  &.disabled {
    top: 3px;
    border-bottom: none;
    text-shadow: 1px 1px @general - 50;
    background-color: @general - 30;
    cursor: default;
    &:hover {
      background-color: @general - 30;
    }
    &:active {
      top: 3px;
    }
  }
  &:hover {
    background-color: @general - 10;
  }
  &:active {
    top: 3px;
    margin-bottom: 8px;
    border-bottom: none;
  }
  &.round {
    .radius(24px);
  }
}