.radius (@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.radius-left (@radius) {
  -webkit-border-radius: @radius 0 0 @radius;
  -moz-border-radius: @radius 0 0 @radius;
  border-radius: @radius 0 0 @radius;
}

.radius-right (@radius) {
  -webkit-border-radius: 0 @radius @radius 0;
  -moz-border-radius: 0 @radius @radius 0;
  border-radius: 0 @radius @radius 0;
}

.radius-distop (@radius) {
  -webkit-border-radius: 0 0 @radius @radius;
  -moz-border-radius: 0 0 @radius @radius;
  border-radius: 0 0 @radius @radius;
}

.radius-disbottom (@radius) {
  -webkit-border-radius: @radius @radius 0 0;
  -moz-border-radius: @radius @radius 0 0;
  border-radius: @radius @radius 0 0;
}

.ease (@time) {
  -webkit-transition: all @time ease;
  -moz-transition: all @time ease;
  transition: all @time ease;
}

.box-shadow () {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.31);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.31);
}